/* set up the keyframes; remember to create prefixed keyframes too! */
/*@keyframes nodeInserted {  
    from { opacity: 0.99; }
    to { opacity: 1; }  
}*/

/* Chrome, Safari, Opera */ 
@-webkit-keyframes nodeInserted{
  from { opacity: 0.99; }
    to { opacity: 1; }  
}
@-moz-keyframes nodeInserted {
 from { opacity: 0.99; }
    to { opacity: 1; }  
}
@-o-keyframes nodeInserted{
  from { opacity: 0.99; }
    to { opacity: 1; }  
}
@keyframes nodeInserted {
  from { opacity: 0.99; }
    to { opacity: 1; }  
}


.popover {
    /*background-color: red !important;*/
/*    animation-duration: 0.001s !important;
    animation-name: nodeInserted !important;*/
    -webkit-animation: nodeInserted 0.001s infinite; /* Safari 4+ */
  -moz-animation:    nodeInserted 0.001s infinite; /* Fx 5+ */
  -o-animation:      nodeInserted 0.001s infinite; /* Opera 12+ */
  animation:         nodeInserted 0.001s infinite; /* IE 10+, Fx 29+ */
}


